@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.studies-timeline::before, .work-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: #1e293b;
  animation: border-slide 0.5s ease-in-out forwards;
}

@keyframes border-slide {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}