---
import './src/styles/styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
		<title>Pedro M. Arévalo</title>
		<script type="module" src="/src/js/main.js" defer></script>
	</head>
	<body class="h-screen">
		<div class="accordion bg-blue-800 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class="title-light">Bio</h1>
		</div>
		<div class="accordion bg-blue-700 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class= "title-light">Studies</h1>
		</div>
		<div class="accordion bg-blue-600 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class="title-light">Work</h1>
		</div>
		<div class="accordion bg-blue-500 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class="title-dark">Projects</h1>
		</div>
		<div class="accordion bg-blue-400 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class="title-dark">Social</h1>
		</div>
		<div class="accordion bg-blue-300 h-[16.67vh] overflow-hidden cursor-pointer transition-height duration-300 ease-in-out flex items-center">
			<h1 class="title-dark">Conctact</h1>
		</div>

	</body>
</html>
