---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="bg-blue-700 text-white">Pedro Arévalo</h1>
		<h1 class="bg-blue-600 text-white">Studies</h1>
		<h1 class="bg-blue-500">Work</h1>
		<h1 class="bg-blue-400">Projects</h1>
		<h1 class="bg-blue-300">about Me</h1>
		<h1 class="bg-blue-200"> Conctact</h1>
	</body>
</html>
