---
import './src/styles/styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap" rel="stylesheet">
		<title>Pedro M. Arévalo</title>
		<script type="module" src="/src/js/main.js" defer></script>
	</head>
	<body class="h-screen mx-auto m-0 font-questrial bg-body-color text-slate-800 duration-custom1s ease-custom">

		
		<div class="accordion bio-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class="accordion-title ps-6 text-6xl transition-opacity duration-500 ease-in-out m-0">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Bio</h1>
			</div>
			<div class="bio-content mt-0 hidden w-full transition-opacity duration-500 ease-in-out flex-col items-start">
				<div class="flex flex-row">
					<img class="w-1/2 rounded-full ml-4 mt-4 transform scale-0 transition-transform duration-500 ease-in-out" src="/public/images/BN_snip_low.jpg" alt="Pedro Arévalo">
					<div class="mt-16">
						<h2 class="ml-8 text-2xl transform translate-x-full transition-transform duration-custom1s ease-custom">Pedro M. Arévalo<h2>
							<h3 class="ml-8 transform translate-x-full transition-transform duration-custom1s ease-custom">Web Developer</h3>
					</div>
				</div>
				<p class="mx-4 mt-4 transform -translate-x-full opacity-0 transition-transform duration-custom1s ease-custom">I'm a Web and and ABAP developer no se qué y no sé cuantos taliscuá hago cosas de programación. Me gusta comer pizza y vivo en vallekas tronko, no veas que movida</p>
				<p class="mx-4 mt-4 transform -translate-x-full opacity-0 transition-transform duration-custom1s ease-custom">Me gusta mucho hacer la música, sacar a los dogos y me gusta menos programá pero de algo hay que comé</p>
			</div>
		</div>
		
		<div class="accordion studies-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class= "accordion-title ps-6  text-6xl transition-opacity duration-500 ease-in-out">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Studies</h1>
			</div>
			<div class="studies-content mt-0 hidden w-full transition-opacity duration-500 ease-in-out flex-row ">
				<div class="studies-timeline flex flew-col">
					<p>Psychology</p>
					<p>Psychophamacology</p>
					<p>Web Development</p>
					<p>ABAP Development</p>
					<p>ABAP Certified</p>
				</div>
				<div class="studies-summary">

				</div>
			</div>
		</div>

		<div class="accordion work-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class= "accordion-title ps-6 text-6xl transition-opacity duration-500 ease-in-out">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Work</h1>
			</div>
		</div>

		<div class="accordion projects-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class= "accordion-title ps-6  text-6xl transition-opacity duration-500 ease-in-out">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Projects</h1>
			</div>
		</div>

		<div class="accordion social-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class= "accordion-title ps-6  text-6xl transition-opacity duration-500 ease-in-out">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Social</h1>
			</div>
		</div>

		<div class="accordion contact-main h-1/6 overflow-hidden cursor-pointer transition-height duration-700 ease-in-out flex items-center">
			<div class= "accordion-title ps-6 text-6xl transition-opacity duration-500 ease-in-out">
				<h1 class="m-0 transition-transform duration-200 ease-in-out hover:scale-110">Contact</h1>
			</div>
		</div>

	</body>
</html>
